{#- Jinja's urlencode leaves '/' alone; git's URL parser would then read a
    slash inside the password as the start of the path. Gitea tokens are hex
    and usernames can't contain '/', but encode it anyway. -#}
https://{{ dagster_gitea_user | urlencode | replace('/', '%2F') }}:{{ dagster_gitea_token | urlencode | replace('/', '%2F') }}@{{ dagster_registry }}
