{% if caddy_email and not caddy_cert_file %}
{
    email {{ caddy_email }}
}
{% endif %}
{% for instance in dagster_instances %}
{{ instance.subdomain }} {
{% if caddy_cert_file and caddy_key_file %}
    tls {{ caddy_cert_file }} {{ caddy_key_file }}
{% endif %}
    reverse_proxy localhost:{{ instance.port }}
}
{% endfor %}
